@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --bg-color: #000a15;
  background: var(--bg-color);
  color: white;
}

.notes-enter {
  outline: 1px solid white;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 1rem;
  border-radius: 1px;

  animation: notes-enter 1.5s ease-in-out forwards;
}

@keyframes notes-enter {
  0% {
    outline-color: rgba(255, 255, 255, 0);
  }

  50%,
  70% {
    outline-color: rgba(255, 255, 255, 1);
  }

  100% {
    outline-color: rgba(255, 255, 255, 0);
  }
}
